/* Put no margin in body and let it scroolable when necessary*/
body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: scroll;
}

/* Load grey in background header color */
header {
  background-color: grey;
}

/* Set section to be 80% of page height */
section {
    width: 100%;
    height: 80%;
}

/* Load grey in background footer color, and set its height to 30% of page height*/
footer {
  background-color: grey;
  height: 30%;
}

/* Set logo to left and add a margin */ /************************TODO -Load logo image*/
.logo {
  float:left; 
  margin-left: 10%;
  position: relative;
  display: block;
  padding: 20px;
}

/* Clear float from header*/
.clear { 
    clear: both;
}

/* Contains logo and login button, align both to right */
.nav {
  width: 100%;    
  margin: 0 auto;
  text-align: right;
}

/* Set login button to right and add a margin*/
.nav .login {
  float:right;
  margin-right: 10%;
  position: relative;
  display: block;
  padding: 20px; 
}

/* Change login color when hovered */
.nav .login:hover {
  background-color: dimgrey;
}

/* Show dropdown login when login hovered */
.nav .login:hover .hiddenLogin{
  display: block;
  margin-top: 20%;
}

/* Set position of dropdown login and its color */
.nav .hiddenLogin {
   position: absolute;
   display: none;
   background-color: dimgrey;
   right: 0;
   padding: 30px;
   text-align: center;
   z-index:1;
}

/* Set facebook login button */ /******************TODO */
.hiddenLogin .facebook {
	background: #3B5998;
	color:white;
	text-align: center;
	margin-top: 10%;
	margin-left: 10%;
}

/* Change facebook login color when hovered */
.hiddenLogin .facebook:hover {
	background: #191970;
}

/* Set google login button */ /******************TODO */
.hiddenLogin .google {
	background: #DD4B39;
	color:white;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 10%;
}

/* Change google login color when hovered */
.hiddenLogin .google:hover {
	background: #800000;
}

/* Set border to red when invalid form */
.invalid {
    border-color: red;
}

/* Set border to green when valid form */
.valid {
    border-color: green;
}

/* Set border to original when neither valir or invalid form */
.blank {
    border-color: none;   
}

/* */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

/* Set slider to hide when overflow page */
#slider { 
    overflow: hidden; 
    height:100%;
}

/* Set it to left in section */
#slider figure img { 
    width: 20%;
    float: left; 
}

/* Set animation and alignment in page for slider */
#slider figure { 
  position: relative;
  width: 500%; 
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
