/* Set position of dropdown login and its color */
.nav .hiddenLogin {
   position: absolute;
   display: none;
   background-color: dimgrey;
   right: 0;
   padding: 30px;
   text-align: center;
   z-index:1;
}

/* Set facebook login button */ /******************TODO */
.hiddenLogin .facebook {
	background: #3B5998;
	color:white;
	text-align: center;
	margin-top: 10%;
	margin-left: 10%;
}

/* Change facebook login color when hovered */
.hiddenLogin .facebook:hover {
	background: #191970;
}

/* Set google login button */ /******************TODO */
.hiddenLogin .google {
	background: #DD4B39;
	color:white;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 10%;
}

/* Change google login color when hovered */
.hiddenLogin .google:hover {
	background: #800000;
}

/* Set border to red when invalid form */
.invalid {
    border-color: red;
}

/* Set border to green when valid form */
.valid {
    border-color: green;
}

/* Set border to original when neither valir or invalid form */
.blank {
    border-color: none;   
}

/* Set position of images in a roll*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

/* Set slider to hide when overflow page */
#slider { 
    overflow: hidden; 
    height:100%;
}

/* Set it to left in section */
#slider figure img { 
    width: 20%;
    float: left; 
}

/* Set animation and alignment in page for slider */
#slider figure { 
  position: relative;
  width: 500%; 
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
